@model IEnumerable<LarreaPaul_ExamenP1.Models.PLarrea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.casado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCumple)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sueldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.casado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCumple)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idNombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idNombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
